{% extends 'pedidos/base.html' %}

{% block title %} Listado de Productos {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Productos</h2>
            <a href="{% url 'vbc_producto_create' %}" class="btn btn-success">Crear Producto</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Disponible</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rendimiento</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if PRODUCTOS %}
                {% for producto in PRODUCTOS %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ producto.disponible }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.rendimiento }}</td>
                    <td>{{ producto.tipo }}</td>
                    <td>
                        <a href="{% url 'vbc_producto_update' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'vbc_producto_delete' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url 'vbc_producto_detail' producto.id %}" class="btn btn-primary btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay Productos disponibles.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}