

{% extends 'pedidos/base.html' %}

{% block title %} About Me {% endblock title %}

{% block content %}
<section class="about-me">
    <div class="container">
        <div class="row">
                        <div class="col-md-8">
                <h4>Mi nombre es Guadalupe Falcón</h4>
                <h5>Soy Ingeniera Industrial y la Pastelería es mi hobbyy</h5>
                <p>
                    Actualmente estoy trabajando en mi emprendimiento "Lupe Mesas Dulces". Combino la Ingeniería con la Pastelería. Aplicando la mejora de procesos, análisis de datos y análisis de costos, seguimiento de presupuestos "en la cocina". 
                </p>
                <p>
                    Siempre estoy ansiosa por aprender y crecer, por ello sumo a mi formación en habilidades técnicas, la capacitaciones relacionadas con la gastronomía.
                </p>
                <ul class="list-unstyled">
                    <li><a href="mailto:guadafalcon@gmail.com">e-mail: guadafalcon@gmail.com</a></li>
                    <li><a href="mailto:lupemesasdulces@gmail.com">e-mail Pastelería: lupemesasdulces@gmail.com</a></li>
                    <li><a href="https://www.linkedin.com/in/falcon-guadalupe-598ab4103/" target="_blank">LinkedIn: Guadalupe Falcon</a></li>
                    <li><a href="https://www.instagram.com/lupe_mesas_dulces/" target="_blank">Instagram: @lupe_mesas_dulces</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}


