{% extends 'pedidos/base.html' %}

{% block title %}Detalle del Pedido{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Detalle de Pedido
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ pedido.nombre_de_usuario }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Producto: {{ pedido.producto }}</h6>
                        <p class="card-text">Fecha: {{ pedido.fecha | date:"d/m/Y" }}</p>
                        <p class="card-text">Hora de inicio: {{ pedido.hora | date:"H:i" }}</p>
                        <p class="card-text">Descripción: {{ pedido.descripcion }}</p>
                    </div>
                    {% comment %}
                    <div class="card-footer text-muted">
                        <a href="{% url 'edit_pedido' pedido.id %}" class="btn btn-primary">Editar Reserva</a>
                        <a href="{% url 'delete_pedido' pedido.id %}" class="btn btn-danger">Eliminar Reserva</a>
                        <a href="{% url 'todos_los_pedidos' %}" class="btn btn-secondary">Volver al listado</a>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}